@keyframes clickSquare {
  0% {
    font-size: 6vw;
  }
  50% {
    font-size: 9vw;
  }
  100% {
    font-size: 6vw;
  }
}

@keyframes playerFloat {
  0% {
    transform: translateY(-5vw);
  }
  100% {
    transform: translateY(5vw);
  }
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: cadetblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  border-radius: 10px;
}

#x,
#o {
  font-size: 9vw;
  font-family: monospace;
  animation-name: playerFloat;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.turn {
  color: steelblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#resultX,
#resultO {
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-bottom: -0.5rem;
  -webkit-text-stroke-width: 0px;
}

.game {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  justify-content: center;
  align-content: center;
}

.square {
  width: 150px;
  height: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6vw;
  background-color: turquoise;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  .square {
    width: 60px;
    height: 60px;
    /* font-size: 2.5rem; */
  }

  .container {
    width: 350px;
  }

  /* #x,
  #o {
    font-size: 6rem;
  } */

  /* #resultX,
  #resultO {
    font-size: 1.5rem;
  } */
}

@media only screen and (max-width: 375px) {
  .container {
    width: 300px;
  }
}

#restart {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  border: none;
  color: white;
  background-color: dimgrey;
  border-radius: 2px;

  transition-property: width, background-color;
  transition-duration: 500ms;
}

#restart:hover {
  width: 200px;
  background-color: rgb(68, 68, 68);
}
